main{
    background-color: #4e46e546;
}

.member-details{
    border-radius: 9999px;
    width: 30px;
    height: 30px;
    margin-right: -8px;
}

#collaborators .member-details:last-child{
    margin-right: 0;
}

.hidden{
    display: none;
}