#create-new-note{
   top: 30%;
   left: 38%;
}

#close-popup,#close-icon{
   position: absolute;
   font-size: 1.75rem;
   cursor: pointer;
   left: 93%;
   top: 3%;
}

#note-expanded{
   left: 40%;
   top: 35%;
}